<div class="font-medium flex-1">{{ item.product.name }}</div>
<div class="font-medium text-right">
  {{ item.proratedLinePrice / 100 | number : '1.2-2' }} zł
</div>

<div class="w-full h-full flex items-center">
  <button
    (click)="removeProduct()"
    class="text-slate-500 hover:text-slate-700 inline-flex"
  >
    <mos-icon class="size-4" icon="trash-bin"></mos-icon>
  </button>
</div>

<div class="">
  {{ item.product.price / 100 | number : '1.2-2' }} zł - 250 gr
</div>

<div>
  <mos-quantity
    class="float-right"
    [formControl]="quantity"
    [editable]="false"
  ></mos-quantity>
</div>
