<div *ngIf="order$ | async as order" class="mx-auto max-w-lg px-4 sm:px-6">
  <div class="flex flex-col items-center mt-8">
    <svg
      class="w-8 h-8 text-gray-600"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="none"
    >
      <path
        d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
        stroke="currentColor"
        stroke-width="1.5"
      />
      <path
        d="M8 12.5L10.5 15L16 9"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    <h2 class="text-xl my-3 font-medium">
      Zamówienie zostało pomyślnie złożone
    </h2>
    <ul class="text-sm w-full mt-3">
      <li class="flex py-1 gap-2">
        <span class="text-gray-600 flex-1">Numer zamówienia</span>
        <span class="font-medium">{{ order.code }}</span>
      </li>

      <li class="flex py-1 gap-2">
        <span class="text-gray-600 flex-1">Forma płatności</span>
        <span class="font-medium">{{
          order.shippingLine?.shippingMethod?.name
        }}</span>
      </li>

      <li class="flex py-1 gap-2">
        <span class="text-gray-600 flex-1">Cena produktów</span>
        <span class="font-medium">{{
          order.subTotal / 100 | number : '1.2-2'
        }}</span>
      </li>

      <li class="flex py-1 gap-2">
        <span class="text-gray-600 flex-1">Koszty dostawy</span>
        <span class="font-medium">{{
          order.shipping / 100 | number : '1.2-2'
        }}</span>
      </li>

      <li class="flex mt-2 py-3 gap-2 text-base border-t border-gray-200">
        <span class="flex-1">Łącznie</span>
        <span class="font-medium">{{
          order.total / 100 | number : '1.2-2'
        }}</span>
      </li>
      <!-- <li class="space-x-2"><span class="">Placed:</span><span
                class="text-gray-600 font-medium">{{ order.updatedAt | date: 'medium' }}</span></li> -->
    </ul>
  </div>
</div>
