<div class="grid gap-3 pt-3">
  <!-- SHIPPING METHODS -->
  @for (shippingMethod of shippingMethods; track shippingMethod.id) {
  <mos-shipping-method
    *mosLet="shippingMethod.code === selected?.shippingMethod?.code as isActive"
    class="block rounded-sm text-sm border border-slate-200 overflow-hidden"
    [isActive]="isActive"
    [code]="shippingMethod.code"
    [class.payment-metods--active]="isActive"
    (selelectMethod)="setShippingMethod(shippingMethod.id, $event)"
  >
    <div class="py-3 px-6 flex gap-3 bg-white hover:bg-slate-50">
      <div class="w-full">
        <div class="font-semibold flex justify-between">
          <span class="flex-1">{{ shippingMethod.name }}</span>
          @if (shippingMethod.price) {
          <p>{{ shippingMethod.price / 100 | number : '1.2-2' }} zł</p>
          } @else {
          <p>Za darmo!</p>
          }
        </div>
        @if (shippingMethod.description) {
        <div
          class="mt-1 text-slate-700 rounded-sm"
          [innerHtml]="shippingMethod.description"
        ></div>
        }
      </div>
    </div>
  </mos-shipping-method>
  }
</div>
