@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

:host {
  position: relative;
  z-index: 1050;

  > .notification-wrapper {
    display: block;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 10px;
    border-radius: 3px;
    max-width: 98vw;
    word-wrap: break-word;
    padding: 10px;
    color: white;
    transition: opacity 1s, top 0.3s;
    opacity: 0;
    @apply bg-gray-500;

    &.success {
      @apply bg-green-600;
    }
    &.error {
      @apply bg-red-600;
    }
    &.warning {
      @apply bg-yellow-600;
    }
    &.info {
      @apply bg-gray-600;
    }

    &.visible {
      opacity: 0.95;
      animation: fadeIn 0.3s 0.3s backwards;
    }
    white-space: pre-line;
  }
}
