<div
  *ngIf="order$ | async as order"
  class="mx-auto max-w-2xl lg:max-w-6xl px-4 sm:px-6 text-slate-700"
>
  <div class="lg:grid lg:grid-cols-2 md:gap-12" [formGroup]="checkoutForm">
    <div>
      <div class="pt-6">
        <h2
          class="text-base font-medium uppercase border-b w-full pb-2 font-['Oswald']"
        >
          Metody dostawy
        </h2>

        @if(submitted() && checkoutForm.controls.shippingMethod.invalid) {
        <div @fadeInOutAnimation class="text-rose-500 text-sm mt-2">
          Prosimy wybrać metodę dostawy
        </div>
        }

        <div class="grid gap-3 pt-3">
          <!-- SHIPPING METHODS -->
          @for (shippingMethod of (shippingMethods$ | async); track
          shippingMethod.id ) {
          <div
            class="py-3 px-6 flex gap-3 bg-white border border-slate-200 rounded-sm text-sm cursor-pointer hover:bg-slate-50"
            (click)="setShippingMethod(+shippingMethod.id)"
            [class.payment-metods--active]="
              shippingMethod.id === $any(order).shippingLine?.shippingMethod?.id
            "
          >
            <div class="w-full">
              <div class="font-semibold flex justify-between">
                <span class="flex-1">{{ shippingMethod.name }}</span>
                @if (shippingMethod.price) {
                <p>{{ shippingMethod.price / 100 | number : '1.2-2' }} zł</p>
                } @else {
                <p>Za darmo!</p>
                }
              </div>
              @if (shippingMethod.description) {
              <div
                class="mt-1 text-slate-700"
                [innerHtml]="shippingMethod.description"
              ></div>
              }
            </div>
          </div>
          }
        </div>
      </div>

      <div
        class="grid grid-cols-6 gap-x-3 gap-y-2 text-slate-700"
        formGroupName="shippingAddress"
      >
        <div
          class="col-span-6 mt-6 flex border-b w-full pb-2 justify-between items-end"
        >
          <h2
            class="text-base font-medium text-slate-700 uppercase font-['Oswald']"
          >
            Dane adresowe
          </h2>

          <div class="text-sm text-slate-600">
            <span class="text-rose-500 ml-[1px]">*</span> Te pola są wymagane
          </div>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label class="text-sm mb-1">
            Imię
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input
            formControlName="firstName"
            mosAutofill="given-name"
            [labelOutside]="true"
          >
          </mos-input>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label class="text-sm mb-1">
            Nazwisko
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input
            formControlName="lastName"
            mosAutofill="family-name"
            [labelOutside]="true"
          >
          </mos-input>
        </div>

        <div class="col-span-6 sm:col-span-3">
          <label class="text-sm mb-1">
            Email
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input formControlName="emailAddress" [labelOutside]="true">
          </mos-input>
        </div>

        <div class="col-span-6 sm:col-span-3" mosAutofill="tel">
          <label class="text-sm mb-1">
            Telefon
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input formControlName="phoneNumber" [labelOutside]="true">
          </mos-input>
        </div>

        <div class="col-span-3 sm:col-span-2 flex flex-col">
          <label class="text-sm mb-1">
            Kod pocztowy
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input
            formControlName="postalCode"
            mosAutofill="postal-code"
            [labelOutside]="true"
          >
          </mos-input>
        </div>

        <div class="col-span-3 sm:col-span-4">
          <label class="text-sm mb-1">
            Miasto
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input
            formControlName="city"
            mosAutofill="address-level2"
            [labelOutside]="true"
          >
          </mos-input>
        </div>

        <div class="col-span-6 sm:col-span-6">
          <label class="text-sm mb-1">
            Ulica i numer
            <span class="text-rose-500 ml-[1px]">*</span>
          </label>

          <mos-input
            formControlName="streetLine"
            mosAutofill="street-address"
            [labelOutside]="true"
          >
          </mos-input>
        </div>
      </div>

      <div class="py-6">
        <h2
          class="text-base font-medium text-slate-700 uppercase border-b w-full pb-2 font-['Oswald']"
        >
          Metody płatności
        </h2>
        @if(submitted() && checkoutForm.controls.paymentMethod.invalid) {
        <div
          @fadeInOutAnimation
          class="text-rose-500 text-sm mt-2 mos-form-error"
        >
          Prosimy wybrać metodę płatności
        </div>
        }

        <div class="grid gap-3 py-3">
          @for (item of (paymentMethods$ | async); track item.id ) {
          <div
            class="py-3 px-6 flex gap-3 bg-white border border-slate-200 rounded-sm text-sm cursor-pointer hover:bg-slate-50"
            [class.payment-metods--active]="item.code === paymentMethod.value"
            (click)="paymentMethod.setValue(item.code)"
          >
            <input
              *ngIf="false"
              name="payment-method"
              type="radio"
              [formControl]="paymentMethod"
              [value]="item.code"
              class="mt-0.5 text-gray-500 focus:ring-gray-400/50 cursor-pointer"
            />
            <div>
              <div class="font-semibold">{{ item.name }}</div>
              <div
                *ngIf="item.description"
                class="mt-2 text-gray-500"
                [innerHtml]="item.description"
              ></div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- CART -->
    <div class="py-6">
      <h2
        class="text-base font-medium text-slate-700 uppercase border-b w-full pb-2 font-['Oswald']"
      >
        Podsumowanie zamówienia
      </h2>

      <div>
        <!-- PRODUCT LIST -->
        <div class="mt-3">
          <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200">
              @for (item of (items$ | async); track item.id ) {
              <li class="block py-3" @fadeUpAnimation>
                <mos-order-line [item]="item"></mos-order-line>
              </li>
              }
            </ul>
          </div>
        </div>

        <!-- TOTALS -->
        <div
          class="border-t border-gray-200 px-4 sm:px-6 divide-y divide-gray-200"
        >
          <div
            class="flex justify-between text-sm font-medium text-gray-600 py-2"
          >
            <p>Produkty razem</p>
            <p>{{ $any(order).subTotal / 100 | number : '1.2-2' }} zł</p>
          </div>

          <div
            *ngIf="$any(order).shippingLine?.shippingMethod"
            class="flex justify-between text-sm font-medium text-gray-600 py-2"
          >
            <p>Dostawa</p>
            @if (order.shipping) {
            <p>{{ $any(order).shipping / 100 | number : '1.2-2' }} zł</p>
            } @else {
            <p>Za darmo!</p>
            }
          </div>

          <div
            class="flex justify-between text-base font-medium text-slate-700 py-3"
          >
            <p>Razem do zapłaty</p>
            <p>{{ $any(order).total / 100 | number : '1.2-2' }} zł</p>
          </div>

          <div class="pt-3 flex items-center gap-2 flex-wrap">
            <div class="flex-1 text-sm flex items-center text-slate-600">
              <input
                class="text-slate-700 cursor-pointer focus:ring-0"
                [class.mos-submitted]="submitted()"
                type="checkbox"
                mosSwitch
                formControlName="acceptAgreement"
                name="agreement"
              />
              <span class="ml-2">
                Akceptuję warunki
                <a class="underline hover:no-underline" href="#">regulaminu</a>
                <span class="text-rose-500 ml-[1px]">*</span>
              </span>
            </div>

            <button
              (click)="completeOrder(order)"
              class="rounded-sm border border-slate-700 ring-slate-700 text-slate-700 px-3 py-1 hover:bg-slate-700 hover:text-white inline-flex items-center gap-x-1 duration-300 transition-all"
            >
              Zamawiam i płacę
            </button>

            @if(submitted() && checkoutForm.invalid) {
            <div @fadeInOutAnimation class="text-sm text-rose-500 w-full mb-1">
              Wystąpił błąd w formularzu procesu zakupowego, proszę wprowadzić
              poprawki
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- CART -->
  </div>
</div>
