<div class="h-24 w-24 flex-shrink-0 overflow-hidden border-gray-200">
  <img
    [src]="$any(item.product.featuredAsset) | assetPreview : 'thumb'"
    [alt]="item.product.name"
    class="h-full w-full object-cover object-center"
  />
</div>

<div class="ml-4 flex flex-1 flex-col">
  <div>
    <div
      class="flex justify-between text-sm font-semibold text-slate-700 uppercase"
    >
      <h3>
        <a href="#">{{ item.product.name }}</a>
      </h3>
    </div>
    <p class="text-sm text-slate-700">Waga: 250g</p>
  </div>
</div>

<div>
  <mos-quantity [formControl]="quantity" [loading]="loading"></mos-quantity>

  <p class="text-sm text-slate-700 flex-1 mt-1">
    Cena: {{ item.product.price / 100 | number : '1.2-2' }} zł
  </p>
</div>

<div class="flex flex-col items-end basis-24">
  <p class="text-base font-medium text-gray-900 flex-1">
    {{ item.proratedLinePrice / 100 | number : '1.2-2' }} zł
  </p>

  <button
    direction="bottom"
    type="button"
    class="text-slate-500 hover:text-slate-700 mb-2"
    (click)="removeItem(item.id)"
  >
    <mos-icon class="size-5" icon="trash-bin"></mos-icon>
  </button>
</div>
