<div class="py-10 bg-white">
  <div class="px-8">
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-base leading-6 font-semibold text-gray-900">
          Products
        </h1>
        <p class="mt-2 text-sm text-gray-700">
          A list of all the users in your account including their name, title,
          email and role.
        </p>
      </div>

      <div class="flex-none sm:ml-16">
        <a routerLink="/products/create"
          class="block rounded-md font-semibold text-sm text-white bg-gray-600 px-3 py-2 drop-shadow hover:bg-gray-500">
          Add product
        </a>
      </div>
    </div>

    <div class="mt-8 rounded-lg ring-1 ring-gray-300">
      <table class="min-w-full divide-y divide-gray-300">
        <thead>
          <th scope="col" class="text-sm font-semibold text-gray-700 text-left py-3 pl-6 pr-3">
            SKU
          </th>
          <th scope="col" class="text-sm font-semibold text-gray-700 text-left py-3 px-3">
            Name
          </th>
          <th scope="col" class="text-sm font-semibold text-gray-700 text-left py-3 px-3"></th>
        </thead>

        <tbody>
          <tr *ngFor="
              let item of items$ | async;
              let first = first;
              let last = last
            ">
            <td class="pl-6 py-4 text-sm text-gray-500 relative">
              <a [routerLink]="[item.id]">12345</a>
              <div *ngIf="!first" class="absolute -top-px h-px left-6 right-0 bg-gray-200"></div>
            </td>
            <td class="px-3 py-4 text-sm font-norml relative">
              <div *ngIf="!first" class="absolute -top-px h-px left-0 right-0 bg-gray-200"></div>
            </td>
            <td class="px-3 py-4 text-sm font-norml relative">
              <div *ngIf="!first" class="absolute -top-px h-px left-0 right-6 bg-gray-200"></div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- PAGINATION -->
      <div class="flex items-center justify-between border-t border-gray-300 px-6">
        <div>
          <p class="text-sm text-gray-700">
            Showing
            <!-- space -->
            <span class="font-medium">1</span>
            <!-- space -->
            to
            <!-- space -->
            <span class="font-medium">10</span>
            <!-- space -->
            of
            <!-- space -->
            <span class="font-medium">97</span>
            <!-- space -->
            results
          </p>
        </div>

        <div class="flex -mt-px">
          <a href="#" class="px-4 py-3 text-sm border-t-2">1</a>
        </div>
      </div>
    </div>
  </div>
</div>