<ng-container *mosLet="order$ | async as order">
  @if (order?.lines) {
  <div class="cart--product-list text-sm min-w-60">
    <mos-cart-line
      *ngFor="let item of order.lines"
      class="cart--product-list__item grid grid-cols-3 mb-3 gap-x-3 leading-5"
      [item]="item"
    ></mos-cart-line>
  </div>
  <div
    class="flex items-center justify-between gap-1 border-t border-slate-600 pt-3 mt-3"
  >
    <span class="font-semibold">
      {{ order.total / 100 | number : '1.2-2' }} zł
    </span>

    <a
      routerLink="/checkout"
      class="rounded-sm border border-slate-700 ring-slate-700 text-sm text-slate-700 px-3 py-1 hover:bg-slate-700 hover:text-white inline-flex items-center gap-x-1 duration-300 transition-all"
    >
      Złóż zamówienie
    </a>
  </div>
  } @else {
  <div class="p-3">Twój koszyk jest pusty</div>
  }
</ng-container>
