<span>ТОВАРЫ В КОРЗИНЕ</span>
<div class="cart--product-list grid gap-x-4">
  <ng-container *ngFor="let item of items$ | async">
    <div class="col-auto group cursor-pointer relative">
      <img
        [src]="$any(item.product.featuredAsset) | assetPreview : 'tiny'"
        alt="Image 1"
        class="w-20 h-20 object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105"
      />
    </div>
    <div class="font-semibold text-sm" flex-1>{{ item.product.name }}</div>
  </ng-container>
</div>
<a
  routerLink="/checkout"
  class="block rounded-md text-center text-white bg-gray-600 px-5 py-2 hover:bg-gray-500 shadow-sm w-full cursor-pointer"
>
  Złóż zamówienie
</a>
