<div *mosLet="entity$ | async as entity" class="py-10 bg-white">
  <div class="px-8">
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-base leading-6 font-semibold text-gray-900">
          Products
        </h1>
        <p class="mt-2 text-sm text-gray-700">
          A list of all the users in your account including their name, title,
          email and role.
        </p>
      </div>

      <button class="flex-none sm:ml-16">
        <button
          class="rounded-md font-semibold text-sm text-white bg-gray-600 px-4 py-2 drop-shadow hover:bg-gray-500 inline-flex items-center gap-x-1"
          (click)="save()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>

          Create
        </button>
      </button>
    </div>

    <form [formGroup]="detailForm">
      <label
        for="name"
        class="block text-sm font-medium leading-6 text-gray-900 mb-1"
        >Name</label
      >
      <mos-input
        formControlName="name"
        name="name"
        placeholder="Product name"
      ></mos-input>

      <label
        for="slug"
        class="block text-sm font-medium leading-6 text-gray-900 mb-1"
        >Slug</label
      >
      <mos-input
        formControlName="slug"
        name="name"
        placeholder="Product slug"
      ></mos-input>

      <mos-input
        formControlName="price"
        name="price"
        placeholder="Price"
        [mosMask]="maskConfig"
      ></mos-input>

      <input type="checkbox" mosSwitch formControlName="enabled" name="name" />
    </form>
  </div>

  <mosaic-assets
    [assets]="assetChanges.assets || entity?.assets"
    [featuredAsset]="assetChanges.featuredAsset || entity?.featuredAsset"
    (change)="assetChanges = $event"
  ></mosaic-assets>
</div>
