@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.mos-dropdown-menu {
  @apply w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

mos-hint[data-appearance='mini-cart'] {
  @apply max-w-80;
}

.mos-main {
  mos-base-input.mos-label-outside {
    @apply rounded-sm;

    .mos-input__input {
      @apply h-8 pl-2;
    }
  }
}

mos-dialog[data-appearance='mos-success-top'] {
  @apply my-12 mx-auto bg-green-100;
}
