<div *mosLet="entity$ | async as entity" class="py-10 bg-white">
  <div class="px-8">
    <div class="flex items-center">
      <div class="flex-auto">
        <h1 class="text-base leading-6 font-semibold text-gray-900">
          Payment method
        </h1>
      </div>

      <button class="flex-none sm:ml-16">
        <button
          class="rounded-md font-semibold text-sm text-white bg-gray-600 px-4 py-2 drop-shadow hover:bg-gray-500 inline-flex items-center gap-x-1"
          (click)="save()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>

          Save
        </button>
      </button>
    </div>

    <form [formGroup]="detailForm">
      <div class="mb-4">
        <label
          class="block text-sm font-medium leading-6 text-gray-900"
          for="name"
        >
          Name
        </label>
        <mos-input
          [labelOutside]="true"
          class="max-w-96"
          id="name"
          formControlName="name"
        ></mos-input>
      </div>

      <mos-select
        [labelOutside]="true"
        class="max-w-96 block"
        [stringify]="paymentHandlerStringify"
        [identityMatcher]="paymentHandlerIdentify"
        [formControl]="handler"
      >
        <div class="flex flex-col items-start">
          <button
            *ngFor="let handler of handlers"
            [mosSelectOption]="handler"
            type="button"
          >
            {{ handler.description }}
          </button>
        </div>
      </mos-select>

      <mos-dynamic-input
        *ngIf="handler.value"
        [operation]="handler.value"
        formControlName="handler"
      >
      </mos-dynamic-input>
    </form>
  </div>
</div>
